.calculator{
    height:305px;
    width: 300px;
    background-color: rgb(94, 94, 97);
    padding:3px;
}

#btns{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#screen{
    height: 50px;
    width: 290px;
    border: 1px solid black;
    padding: 5px;
}


button{
    height: 60px;
    width: 60px;
}

button:hover{
    background-color: rgb(97, 96, 104);
    color: white;
}

.clear{
    background-color: red;
}